.git
.gitignore

Dockerfile
.dockerignore

__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

.venv/
venv/
env/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*

db.sqlite3
*.sqlite3

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

staticfiles/
media/
