asgiref==3.11.0
beautifulsoup4==4.14.3
cachetools==6.2.4
decorator==5.2.1
Django==6.0
django-unicorn==0.62.0
djhtml==3.0.10
orjson==3.11.5
ruff==0.14.10
shortuuid==1.0.13
soupsieve==2.8.1
sqlparse==0.5.5
typing_extensions==4.15.0
